# Archivos de entorno y variables secretas
.env
.env.*
!.env.example

# Archivos de SO y editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
logs/

# Claves SSH y certificados (POR SEGURIDAD)
*.pem
*.key
*.cer
*.crt
*.pfx
*.p12
id_rsa
id_ed25519

# Archivos de configuración de Docker temporales
docker-compose.override.yml

# Otros datos sensibles
secret.json
credentials.json
*.tfstate
*.tfvars
borrador.md
